
p{
    font-size: 15px;
    font-family: "Nunito Sans" , sans-serif ;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}
img{
    max-width: 60%;
}
a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}

input:focus{
    outline: none;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}


.footer{
    background: #111111;
	max-width: 1000px;
    margin: 0 auto;
}
.footer-about{
    margin-bottom: 30px;
}
.footer-about .footer-logo{
    margin-bottom: 30px;
}
.footer-about p{
    color: #b7b7b7;
    margin-bottom: 30px;
}
.footer-widget{
    margin-bottom: 30px;
}
.footer-widget h6{
    color:  #ffffff;s
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.footer-widget ul li{
    line-height: 36px;
    list-style: none;
}
.footer-widget ul li a{
    color: #b7b7b7;
    font-size: 15px;
}
.footer-widget ul li a:hover{
    color: #f0e68c;
}

.SNS{
   float: right;
   top: 0;
}

.footer-copyright-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}
.footer-copyright-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}
.footer-copyright-text p i{
    color: #f0e68c;
}
.footer-copyright-text p a{
    color: #f0e68c;
}